/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #687078;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.container {
  width: 100%;
  max-width: 500px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.label {
  margin-bottom: 15px;
}

.label input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.button {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 20px;
}

.button button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #0077ff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button button:hover {
  background-color: #005ccc;
}

.button button:nth-child(2) {
  background-color: #ff0000;
}

.button button:nth-child(2):hover {
  background-color: #d90000;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: auto; /* İçerik kadar yüksek olsun */
  overflow-y: visible;
}

.result h2 {
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}

.result p {
  padding: 8px 12px;
  background-color: #e3f2fd;
  border-radius: 6px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.completed span{
  text-decoration: line-through;
  color: #888;
  font-style: italic;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.task-checkbox {
  cursor: pointer;
}

